In [2]:
import networkx as nx
import pandas as pd

In [3]:
income_csv = pd.read_csv('../data/income_by_msa_simplified.csv')
income_csv['pcpi'] = income_csv['pcpi'].str.replace(',', '')
income_csv['pcpi'] = income_csv['pcpi'].astype(int)
income_by_msa = pd.Series(income_csv.pcpi.values,index=income_csv.msa).to_dict()

In [4]:
non_cities = ['Outside Metro Area within U.S. or Puerto Rico', 'Africa', 'Asia', 'Central America', 'Caribbean', 'Europe', 'U.S. Island Areas', 'Northern America', 'Oceania and At Sea', 'South America']
G = nx.DiGraph()

x = pd.ExcelFile('../data/metro-to-metro-2011-2015.xlsx')
print(x.sheet_names)

previous = 'Unnamed: 15'
current = 'Unnamed: 2'
count = 'Unnamed: 26'

thresh = 0

for state in x.sheet_names:
    df = x.parse(state)

    for index, row in df.iterrows():

        # skip first three rows: header rows
        if index < 3:
            continue
        # skip the last rows: footer rows
        if index >= 53724:
            break
            
        if int(row[count]) < thresh:
            continue

        # exclude non-cities
        if row[previous] in non_cities or row[current] in non_cities:
            continue
            
        # compute weight
        source_income = income_by_msa.get(row[previous][:-11])
        
        # none for many places in PR
        if source_income is None:
            continue

        source_count = row[count]
        weight = source_income * source_count
            
        G.add_edge(row[previous], row[current], weight=weight)

print(len(G.nodes()))
print(len(G.edges()))

['Metro-to-Metro 2011-2015']
388
49521

In [5]:
# pagerank 
pr = nx.pagerank(G, max_iter=1000)
pr_df = pd.DataFrame.from_dict(pr, orient='index', columns=['pr']).reset_index().rename(columns={'index':'metro'})
pr_df = pr_df.sort_values(by='pr', ascending=False)
print(pr_df)
pr_df.to_csv('../results/weighted_income_pagerank.csv', index=False)

                                                 metro        pr
53       Los Angeles-Long Beach-Anaheim, CA Metro Area  0.021176
62    New York-Newark-Jersey City, NY-NJ-PA Metro Area  0.019864
25          Dallas-Fort Worth-Arlington, TX Metro Area  0.019688
105  Washington-Arlington-Alexandria, DC-VA-MD-WV M...  0.018384
38     Houston-The Woodlands-Sugar Land, TX Metro Area  0.017473
5         Atlanta-Sandy Springs-Roswell, GA Metro Area  0.017056
19       Chicago-Naperville-Elgin, IL-IN-WI Metro Area  0.015999
72              Phoenix-Mesa-Scottsdale, AZ Metro Area  0.015701
88              Seattle-Tacoma-Bellevue, WA Metro Area  0.013660
79     Riverside-San Bernardino-Ontario, CA Metro Area  0.013246
192       San Francisco-Oakland-Hayward, CA Metro Area  0.013170
58   Miami-Fort Lauderdale-West Palm Beach, FL Metr...  0.012076
27               Denver-Aurora-Lakewood, CO Metro Area  0.011797
117  Philadelphia-Camden-Wilmington, PA-NJ-DE-MD Me...  0.011485
95      Tampa-St. Petersburg-Clearwater, FL Metro Area  0.010832
6                     Austin-Round Rock, TX Metro Area  0.010771
13           Boston-Cambridge-Newton, MA-NH Metro Area  0.010660
67            Orlando-Kissimmee-Sanford, FL Metro Area  0.010271
85                   San Diego-Carlsbad, CA Metro Area  0.010180
73      Portland-Vancouver-Hillsboro, OR-WA Metro Area  0.009512
84            San Antonio-New Braunfels, TX Metro Area  0.009303
17        Charlotte-Concord-Gastonia, NC-SC Metro Area  0.008843
60   Minneapolis-St. Paul-Bloomington, MN-WI Metro ...  0.008578
48         Las Vegas-Henderson-Paradise, NV Metro Area  0.007987
102  Virginia Beach-Norfolk-Newport News, VA-NC Met...  0.007974
80   Sacramento--Roseville--Arden-Arcade, CA Metro ...  0.007362
8             Baltimore-Columbia-Towson, MD Metro Area  0.007309
28              Detroit-Warren-Dearborn, MI Metro Area  0.007155
179  Nashville-Davidson--Murfreesboro--Franklin, TN...  0.006891
279      San Jose-Sunnyvale-Santa Clara, CA Metro Area  0.006567
..                                                 ...       ...
368                             Gadsden, AL Metro Area  0.000754
149                             Decatur, IL Metro Area  0.000744
167                                Lima, OH Metro Area  0.000732
337                         Fond du Lac, WI Metro Area  0.000732
211                            Bay City, MI Metro Area  0.000731
276                          Pittsfield, MA Metro Area  0.000723
324                              Casper, WY Metro Area  0.000721
379                       Cumberland, MD-WV Metro Area  0.000718
299                         Great Falls, MT Metro Area  0.000716
271                     Lewiston-Auburn, ME Metro Area  0.000716
362                            Kankakee, IL Metro Area  0.000703
332                          Ocean City, NJ Metro Area  0.000701
351                              Wausau, WI Metro Area  0.000700
294                          Farmington, NM Metro Area  0.000685
128                             Altoona, PA Metro Area  0.000683
232                             Beckley, WV Metro Area  0.000683
244                          Pine Bluff, AR Metro Area  0.000679
302                              Kokomo, IN Metro Area  0.000664
340                           Owensboro, KY Metro Area  0.000655
344                            Danville, IL Metro Area  0.000639
385                               Ponce, PR Metro Area  0.000631
257                              Elmira, NY Metro Area  0.000629
156                        Grand Island, NE Metro Area  0.000627
357                         Lewiston, ID-WA Metro Area  0.000622
183                  Parkersburg-Vienna, WV Metro Area  0.000605
110                   Aguadilla-Isabela, PR Metro Area  0.000541
384                            Mayagüez, PR Metro Area  0.000454
382                             Guayama, PR Metro Area  0.000445
386                          San Germán, PR Metro Area  0.000436
370                             Arecibo, PR Metro Area  0.000435

[388 rows x 2 columns]

In [8]:
# edge betweenness centrality
# use distance = 1/flow
g_distance_dict = {(e1, e2): 1 / weight for e1, e2, weight in G.edges(data='weight')}
nx.set_edge_attributes(G, g_distance_dict, 'distance')

edge_bet_cent = pd.DataFrame.from_dict(nx.edge_betweenness_centrality(G, weight='distance'), orient='index', columns=['Edge Betweenness']).reset_index(level=0).rename(index=str, columns={'index': 'Metros'})
edge_bet_cent = edge_bet_cent[edge_bet_cent['Edge Betweenness'] > 0]
edge_bet_cent = edge_bet_cent.sort_values(by='Edge Betweenness', ascending=False)
print(edge_bet_cent)
edge_bet_cent.to_csv('../results/weighted_income_edge_centrality.csv', index=False)

                                                  Metros  Edge Betweenness
10527  (Los Angeles-Long Beach-Anaheim, CA Metro Area...          0.107561
12076  (New York-Newark-Jersey City, NY-NJ-PA Metro A...          0.091911
3947   (Chicago-Naperville-Elgin, IL-IN-WI Metro Area...          0.084452
12207  (New York-Newark-Jersey City, NY-NJ-PA Metro A...          0.062975
17520  (Seattle-Tacoma-Bellevue, WA Metro Area, Los A...          0.059844
1076   (Atlanta-Sandy Springs-Roswell, GA Metro Area,...          0.058359
12356  (New York-Newark-Jersey City, NY-NJ-PA Metro A...          0.054297
22037  (Philadelphia-Camden-Wilmington, PA-NJ-DE-MD M...          0.053598
20203  (Washington-Arlington-Alexandria, DC-VA-MD-WV ...          0.053105
11460  (Miami-Fort Lauderdale-West Palm Beach, FL Met...          0.045679
12264  (New York-Newark-Jersey City, NY-NJ-PA Metro A...          0.042489
3911   (Chicago-Naperville-Elgin, IL-IN-WI Metro Area...          0.041270
11701  (Minneapolis-St. Paul-Bloomington, MN-WI Metro...          0.036622
10594  (Los Angeles-Long Beach-Anaheim, CA Metro Area...          0.032440
14182  (Phoenix-Mesa-Scottsdale, AZ Metro Area, Los A...          0.031361
5162   (Dallas-Fort Worth-Arlington, TX Metro Area, H...          0.029962
7942   (Indianapolis-Carmel-Anderson, IN Metro Area, ...          0.029376
5934   (Detroit-Warren-Dearborn, MI Metro Area, Chica...          0.029250
3929   (Chicago-Naperville-Elgin, IL-IN-WI Metro Area...          0.028570
2745   (Boston-Cambridge-Newton, MA-NH Metro Area, Ne...          0.027618
5242   (Dallas-Fort Worth-Arlington, TX Metro Area, N...          0.027425
12030  (New York-Newark-Jersey City, NY-NJ-PA Metro A...          0.027411
31909  (San Francisco-Oakland-Hayward, CA Metro Area,...          0.027278
12054  (New York-Newark-Jersey City, NY-NJ-PA Metro A...          0.026885
3809   (Chicago-Naperville-Elgin, IL-IN-WI Metro Area...          0.026719
12222  (New York-Newark-Jersey City, NY-NJ-PA Metro A...          0.026606
918    (Atlanta-Sandy Springs-Roswell, GA Metro Area,...          0.026253
3996   (Chicago-Naperville-Elgin, IL-IN-WI Metro Area...          0.026213
7623   (Houston-The Woodlands-Sugar Land, TX Metro Ar...          0.026100
16024  (St. Louis, MO-IL Metro Area, Chicago-Napervil...          0.025434
...                                                  ...               ...
45433  (Chambersburg-Waynesboro, PA Metro Area, Hager...          0.000007
45613  (East Stroudsburg, PA Metro Area, Allentown-Be...          0.000007
17326  (Santa Cruz-Watsonville, CA Metro Area, Salina...          0.000007
45746  (Elizabethtown-Fort Knox, KY Metro Area, Kille...          0.000007
17236  (San Luis Obispo-Paso Robles-Arroyo Grande, CA...          0.000007
45810  (Gettysburg, PA Metro Area, Chambersburg-Wayne...          0.000007
45978  (Morristown, TN Metro Area, Kingsport-Bristol-...          0.000007
7487   (Hilton Head Island-Bluffton-Beaufort, SC Metr...          0.000007
43035  (Jackson, MS Metro Area, Gulfport-Biloxi-Pasca...          0.000007
24230  (Bloomington, IL Metro Area, Peoria, IL Metro ...          0.000007
6573   (Fayetteville, NC Metro Area, Crestview-Fort W...          0.000007
24131  (Blacksburg-Christiansburg-Radford, VA Metro A...          0.000007
40624  (Salisbury, MD-DE Metro Area, Dover, DE Metro ...          0.000007
23888  (Auburn-Opelika, AL Metro Area, Columbus, GA-A...          0.000007
6566   (Fayetteville, NC Metro Area, Clarksville, TN-...          0.000007
23426  (Altoona, PA Metro Area, State College, PA Met...          0.000007
23407  (Altoona, PA Metro Area, Johnstown, PA Metro A...          0.000007
41136  (Sebastian-Vero Beach, FL Metro Area, Palm Bay...          0.000007
41144  (Sebastian-Vero Beach, FL Metro Area, Port St....          0.000007
6619   (Fayetteville, NC Metro Area, Killeen-Temple, ...          0.000007
7449   (Hilton Head Island-Bluffton-Beaufort, SC Metr...          0.000007
41600  (The Villages, FL Metro Area, Ocala, FL Metro ...          0.000007
6830   (Fresno, CA Metro Area, Bakersfield, CA Metro ...          0.000007
41978  (Cedar Rapids, IA Metro Area, Dubuque, IA Metr...          0.000007
42100  (Clarksville, TN-KY Metro Area, Fayetteville, ...          0.000007
42446  (Fayetteville-Springdale-Rogers, AR-MO Metro A...          0.000007
33832  (Anniston-Oxford-Jacksonville, AL Metro Area, ...          0.000007
42836  (Gainesville, FL Metro Area, Jacksonville, FL ...          0.000007
21249  (Lebanon, PA Metro Area, Lancaster, PA Metro A...          0.000007
29080     (Monroe, MI Metro Area, Toledo, OH Metro Area)          0.000007

[1208 rows x 2 columns]