In [2]:
import pandas as pd
import networkx as nx

In [3]:
# do normal pagerank
non_cities = ['Outside Metro Area within U.S. or Puerto Rico', 'Africa', 'Asia', 'Central America', 'Caribbean', 'Europe', 'U.S. Island Areas', 'Northern America', 'Oceania and At Sea', 'South America']
G = nx.DiGraph()

x = pd.ExcelFile('../data/metro-to-metro-2011-2015.xlsx')
print(x.sheet_names)

previous = 'Unnamed: 15'
current = 'Unnamed: 2'
count = 'Unnamed: 26'

thresh = 0

for state in x.sheet_names:
    df = x.parse(state)

    for index, row in df.iterrows():

        # skip first three rows: header rows
        if index < 3:
            continue
        # skip the last rows: footer rows
        if index >= 53724:
            break
            
        if int(row[count]) < thresh:
            continue

        # exclude non-cities
        if row[previous] in non_cities or row[current] in non_cities:
            continue
            
        G.add_edge(row[previous], row[current], weight=row[count])

print(len(G.nodes()))
print(len(G.edges()))

['Metro-to-Metro 2011-2015']
388
50171

In [4]:
pr = nx.pagerank(G, max_iter=1000)
pr_df = pd.DataFrame.from_dict(pr, orient='index', columns=['pr']).reset_index().rename(columns={'index':'metro'})
#pr_df = pr_df.sort_values(by='pr', ascending=False).reset_index(drop=True)
#pr_df['Original Rank'] = pr_df.index + 1
print(pr_df)

                                                metro        pr
0                          Albuquerque, NM Metro Area  0.003073
1                              Abilene, TX Metro Area  0.001535
2        Allentown-Bethlehem-Easton, PA-NJ Metro Area  0.002509
3                             Amarillo, TX Metro Area  0.001160
4                            Anchorage, AK Metro Area  0.001928
5        Atlanta-Sandy Springs-Roswell, GA Metro Area  0.017466
6                    Austin-Round Rock, TX Metro Area  0.010771
7                          Bakersfield, CA Metro Area  0.003282
8            Baltimore-Columbia-Towson, MD Metro Area  0.007384
9                          Baton Rouge, LA Metro Area  0.003427
10                Beaumont-Port Arthur, TX Metro Area  0.002018
11                   Birmingham-Hoover, AL Metro Area  0.004277
12                          Boise City, ID Metro Area  0.002743
13          Boston-Cambridge-Newton, MA-NH Metro Area  0.010782
14               Brownsville-Harlingen, TX Metro Area  0.001082
15   Buffalo-Cheektowaga-Niagara Falls, NY Metro Area  0.002094
16         Charleston-North Charleston, SC Metro Area  0.004108
17       Charlotte-Concord-Gastonia, NC-SC Metro Area  0.008878
18                            Cheyenne, WY Metro Area  0.000863
19      Chicago-Naperville-Elgin, IL-IN-WI Metro Area  0.015984
20                    Cleveland-Elyria, OH Metro Area  0.004265
21               College Station-Bryan, TX Metro Area  0.003117
22                    Colorado Springs, CO Metro Area  0.005366
23                            Columbia, SC Metro Area  0.004990
24                      Corpus Christi, TX Metro Area  0.002646
25         Dallas-Fort Worth-Arlington, TX Metro Area  0.019696
26                              Dayton, OH Metro Area  0.003389
27              Denver-Aurora-Lakewood, CO Metro Area  0.011746
28             Detroit-Warren-Dearborn, MI Metro Area  0.007133
29                             El Paso, TX Metro Area  0.003198
..                                                ...       ...
358                             Wausau, WI Metro Area  0.000686
359                             Bangor, ME Metro Area  0.000869
360                          El Centro, CA Metro Area  0.000860
361                         Greenville, NC Metro Area  0.001679
362                        Idaho Falls, ID Metro Area  0.000881
363                  Janesville-Beloit, WI Metro Area  0.000932
364                        Lewiston, ID-WA Metro Area  0.000608
365                               Rome, GA Metro Area  0.000799
366                       Battle Creek, MI Metro Area  0.001077
367                         Burlington, NC Metro Area  0.001170
368           Hickory-Lenoir-Morganton, NC Metro Area  0.001370
369                           Kankakee, IL Metro Area  0.000694
370                           Muskegon, MI Metro Area  0.000974
371                         Tuscaloosa, AL Metro Area  0.001829
372                      Bowling Green, KY Metro Area  0.001300
373              Daphne-Fairhope-Foley, AL Metro Area  0.001335
374                            Decatur, AL Metro Area  0.000978
375                            Gadsden, AL Metro Area  0.000739
376                             Mobile, AL Metro Area  0.001536
377       Kingsport-Bristol-Bristol, TN-VA Metro Area  0.001428
378                        Rocky Mount, NC Metro Area  0.000847
379                           Columbus, IN Metro Area  0.000741
380                        Hot Springs, AR Metro Area  0.000887
381                            Jackson, TN Metro Area  0.000832
382            Kahului-Wailuku-Lahaina, HI Metro Area  0.000863
383                             Laredo, TX Metro Area  0.000815
384                          Wenatchee, WA Metro Area  0.000751
385                      Cumberland, MD-WV Metro Area  0.000705
386                         St. George, UT Metro Area  0.001411
387                      St. Joseph, MO-KS Metro Area  0.000999

[388 rows x 2 columns]

In [5]:
weighted_pr = pd.read_csv('../results/weighted_income_pagerank.csv')
#weighted_pr = weighted_pr.sort_values(by='pr', ascending=False).reset_index(drop=True)
#weighted_pr['Weighted Rank'] = weighted_pr.index + 1
print(weighted_pr)

                                                 metro        pr
0        Los Angeles-Long Beach-Anaheim, CA Metro Area  0.021176
1     New York-Newark-Jersey City, NY-NJ-PA Metro Area  0.019864
2           Dallas-Fort Worth-Arlington, TX Metro Area  0.019688
3    Washington-Arlington-Alexandria, DC-VA-MD-WV M...  0.018384
4      Houston-The Woodlands-Sugar Land, TX Metro Area  0.017473
5         Atlanta-Sandy Springs-Roswell, GA Metro Area  0.017056
6        Chicago-Naperville-Elgin, IL-IN-WI Metro Area  0.015999
7               Phoenix-Mesa-Scottsdale, AZ Metro Area  0.015701
8               Seattle-Tacoma-Bellevue, WA Metro Area  0.013660
9      Riverside-San Bernardino-Ontario, CA Metro Area  0.013246
10        San Francisco-Oakland-Hayward, CA Metro Area  0.013170
11   Miami-Fort Lauderdale-West Palm Beach, FL Metr...  0.012076
12               Denver-Aurora-Lakewood, CO Metro Area  0.011797
13   Philadelphia-Camden-Wilmington, PA-NJ-DE-MD Me...  0.011485
14      Tampa-St. Petersburg-Clearwater, FL Metro Area  0.010832
15                    Austin-Round Rock, TX Metro Area  0.010771
16           Boston-Cambridge-Newton, MA-NH Metro Area  0.010660
17            Orlando-Kissimmee-Sanford, FL Metro Area  0.010271
18                   San Diego-Carlsbad, CA Metro Area  0.010180
19      Portland-Vancouver-Hillsboro, OR-WA Metro Area  0.009512
20            San Antonio-New Braunfels, TX Metro Area  0.009303
21        Charlotte-Concord-Gastonia, NC-SC Metro Area  0.008843
22   Minneapolis-St. Paul-Bloomington, MN-WI Metro ...  0.008578
23         Las Vegas-Henderson-Paradise, NV Metro Area  0.007987
24   Virginia Beach-Norfolk-Newport News, VA-NC Met...  0.007974
25   Sacramento--Roseville--Arden-Arcade, CA Metro ...  0.007362
26            Baltimore-Columbia-Towson, MD Metro Area  0.007309
27              Detroit-Warren-Dearborn, MI Metro Area  0.007155
28   Nashville-Davidson--Murfreesboro--Franklin, TN...  0.006891
29       San Jose-Sunnyvale-Santa Clara, CA Metro Area  0.006567
..                                                 ...       ...
358                             Gadsden, AL Metro Area  0.000754
359                             Decatur, IL Metro Area  0.000744
360                                Lima, OH Metro Area  0.000732
361                         Fond du Lac, WI Metro Area  0.000732
362                            Bay City, MI Metro Area  0.000731
363                          Pittsfield, MA Metro Area  0.000723
364                              Casper, WY Metro Area  0.000721
365                       Cumberland, MD-WV Metro Area  0.000718
366                         Great Falls, MT Metro Area  0.000716
367                     Lewiston-Auburn, ME Metro Area  0.000716
368                            Kankakee, IL Metro Area  0.000703
369                          Ocean City, NJ Metro Area  0.000701
370                              Wausau, WI Metro Area  0.000700
371                          Farmington, NM Metro Area  0.000685
372                             Altoona, PA Metro Area  0.000683
373                             Beckley, WV Metro Area  0.000683
374                          Pine Bluff, AR Metro Area  0.000679
375                              Kokomo, IN Metro Area  0.000664
376                           Owensboro, KY Metro Area  0.000655
377                            Danville, IL Metro Area  0.000639
378                               Ponce, PR Metro Area  0.000631
379                              Elmira, NY Metro Area  0.000629
380                        Grand Island, NE Metro Area  0.000627
381                         Lewiston, ID-WA Metro Area  0.000622
382                  Parkersburg-Vienna, WV Metro Area  0.000605
383                   Aguadilla-Isabela, PR Metro Area  0.000541
384                            Mayagüez, PR Metro Area  0.000454
385                             Guayama, PR Metro Area  0.000445
386                          San Germán, PR Metro Area  0.000436
387                             Arecibo, PR Metro Area  0.000435

[388 rows x 2 columns]

In [6]:
coords = pd.read_csv('../coordinates.txt', sep='\t')
coords['Location'] = coords['Location'].str.strip()
print(coords)

                                             Location  \
0                          Albuquerque, NM Metro Area
1        Allentown-Bethlehem-Easton, PA-NJ Metro Area
2                             Amarillo, TX Metro Area
3                            Anchorage, AK Metro Area
4        Atlanta-Sandy Springs-Roswell, GA Metro Area
5                    Austin-Round Rock, TX Metro Area
6                          Bakersfield, CA Metro Area
7            Baltimore-Columbia-Towson, MD Metro Area
8                          Baton Rouge, LA Metro Area
9                 Beaumont-Port Arthur, TX Metro Area
10                   Birmingham-Hoover, AL Metro Area
11                          Boise City, ID Metro Area
12          Boston-Cambridge-Newton, MA-NH Metro Area
13               Brownsville-Harlingen, TX Metro Area
14   Buffalo-Cheektowaga-Niagara Falls, NY Metro Area
15         Charleston-North Charleston, SC Metro Area
16       Charlotte-Concord-Gastonia, NC-SC Metro Area
17                            Cheyenne, WY Metro Area
18      Chicago-Naperville-Elgin, IL-IN-WI Metro Area
19                    Cleveland-Elyria, OH Metro Area
20               College Station-Bryan, TX Metro Area
21                    Colorado Springs, CO Metro Area
22                            Columbia, SC Metro Area
23                      Corpus Christi, TX Metro Area
24         Dallas-Fort Worth-Arlington, TX Metro Area
25                              Dayton, OH Metro Area
26              Denver-Aurora-Lakewood, CO Metro Area
27             Detroit-Warren-Dearborn, MI Metro Area
28                             El Paso, TX Metro Area
29                           Fairbanks, AK Metro Area
..                                                ...
358                             Bangor, ME Metro Area
359                          El Centro, CA Metro Area
360                         Greenville, NC Metro Area
361                        Idaho Falls, ID Metro Area
362                  Janesville-Beloit, WI Metro Area
363                        Lewiston, ID-WA Metro Area
364                               Rome, GA Metro Area
365                               Ames, IA Metro Area
366                       Battle Creek, MI Metro Area
367                         Burlington, NC Metro Area
368           Hickory-Lenoir-Morganton, NC Metro Area
369                           Kankakee, IL Metro Area
370                           Muskegon, MI Metro Area
371                         Tuscaloosa, AL Metro Area
372                      Bowling Green, KY Metro Area
373              Daphne-Fairhope-Foley, AL Metro Area
374                            Decatur, AL Metro Area
375                            Gadsden, AL Metro Area
376                             Mobile, AL Metro Area
377       Kingsport-Bristol-Bristol, TN-VA Metro Area
378                        Rocky Mount, NC Metro Area
379                           Columbus, IN Metro Area
380                        Hot Springs, AR Metro Area
381                            Jackson, TN Metro Area
382            Kahului-Wailuku-Lahaina, HI Metro Area
383                             Laredo, TX Metro Area
384                          Wenatchee, WA Metro Area
385                      Cumberland, MD-WV Metro Area
386                         St. George, UT Metro Area
387                      St. Joseph, MO-KS Metro Area

                        Coordinates
0           35.0841034,-106.6509851
1            40.6022059,-75.4712794
2           35.2072185,-101.8338246
3           61.1758781,-149.1107333
4            33.7490987,-84.3901849
5            30.2711286,-97.7436995
6           35.3738712,-119.0194639
7             39.2908816,-76.610759
8              30.4459596,-91.18738
9            30.0860459,-94.1018461
10             33.570499,-86.765783
11    43.60081625,-116.242110153775
12           42.3602534,-71.0582912
13           25.9140256,-97.4890856
14           42.8867166,-78.8783922
15           32.7876012,-79.9402728
16           35.2270869,-80.8431268
17                41.1400,-104.8202
18           41.8755616,-87.6244212
19           41.5051613,-81.6934446
20           30.6253463,-96.3271538
21          38.8339578,-104.8253485
22           34.0007493,-81.0343313
23           27.8002542,-97.3955744
24           32.7762719,-96.7968559
25           39.7589478,-84.1916069
26          39.7348381,-104.9653271
27           42.3315509,-83.0466403
28           31.7600372,-106.487287
29            64.837845,-147.716675
..                              ...
358                44.8016,-68.7712
359               32.7920,-115.5631
360           35.612661,-77.3663538
361         43.4935245,-112.0400919
362          42.6829765,-89.0226793
363         46.4165506,-117.0176569
364           34.257038,-85.1646726
365          42.0267703,-93.6170554
366          42.3192548,-85.1824269
367          36.0956918,-79.4377991
368          35.7333312,-81.3442915
369          41.1200325,-87.8611531
370          43.2341813,-86.2483921
371            33.490251,-86.859181
372          36.9903199,-86.4436018
373          30.6035255,-87.9036047
374            40.855019,-78.269096
375            33.565356,-86.783621
376            39.092585,-84.853229
377           36.550238,-82.5594293
378          35.9423833,-77.7956949
379            39.730727,-82.604837
380                34.5037,-93.0552
381          35.6144446,-88.8177418
382         20.8894101,-156.4727118
383          27.5199841,-99.4953764
384         47.4234599,-120.3103494
385          39.6528509,-78.7624714
386          37.104153,-113.5841313
387          39.7686055,-94.8466322

[388 rows x 2 columns]

In [7]:
delta_pr = pd.merge(pr_df, weighted_pr, how='inner', left_on='metro', right_on='metro')
delta_pr['Delta PR'] = (delta_pr['pr_y'] - delta_pr['pr_x']) * 100000
delta_pr = delta_pr[['metro', 'Delta PR']]
print(delta_pr)

                                                metro   Delta PR
0                          Albuquerque, NM Metro Area   3.093486
1                              Abilene, TX Metro Area   1.652197
2        Allentown-Bethlehem-Easton, PA-NJ Metro Area  -7.559256
3                             Amarillo, TX Metro Area   1.664570
4                            Anchorage, AK Metro Area   1.743735
5        Atlanta-Sandy Springs-Roswell, GA Metro Area -40.986271
6                    Austin-Round Rock, TX Metro Area  -0.020466
7                          Bakersfield, CA Metro Area   2.857240
8            Baltimore-Columbia-Towson, MD Metro Area  -7.486664
9                          Baton Rouge, LA Metro Area   2.926351
10                Beaumont-Port Arthur, TX Metro Area   1.291637
11                   Birmingham-Hoover, AL Metro Area   1.415922
12                          Boise City, ID Metro Area   3.247536
13          Boston-Cambridge-Newton, MA-NH Metro Area -12.161240
14               Brownsville-Harlingen, TX Metro Area   1.296813
15   Buffalo-Cheektowaga-Niagara Falls, NY Metro Area  -2.070285
16         Charleston-North Charleston, SC Metro Area  -0.694684
17       Charlotte-Concord-Gastonia, NC-SC Metro Area  -3.475183
18                            Cheyenne, WY Metro Area   1.563109
19      Chicago-Naperville-Elgin, IL-IN-WI Metro Area   1.505390
20                    Cleveland-Elyria, OH Metro Area  -5.693065
21               College Station-Bryan, TX Metro Area   1.752852
22                    Colorado Springs, CO Metro Area   2.476246
23                            Columbia, SC Metro Area  -1.685526
24                      Corpus Christi, TX Metro Area   1.740630
25         Dallas-Fort Worth-Arlington, TX Metro Area  -0.866871
26                              Dayton, OH Metro Area   2.185612
27              Denver-Aurora-Lakewood, CO Metro Area   5.109336
28             Detroit-Warren-Dearborn, MI Metro Area   2.224126
29                             El Paso, TX Metro Area   1.354925
..                                                ...        ...
358                             Wausau, WI Metro Area   1.431120
359                             Bangor, ME Metro Area   1.339083
360                          El Centro, CA Metro Area   1.549665
361                         Greenville, NC Metro Area   1.493470
362                        Idaho Falls, ID Metro Area   1.758517
363                  Janesville-Beloit, WI Metro Area   1.699035
364                        Lewiston, ID-WA Metro Area   1.480400
365                               Rome, GA Metro Area   0.204241
366                       Battle Creek, MI Metro Area   1.899152
367                         Burlington, NC Metro Area   1.272199
368           Hickory-Lenoir-Morganton, NC Metro Area   0.710430
369                           Kankakee, IL Metro Area   0.906133
370                           Muskegon, MI Metro Area   1.729900
371                         Tuscaloosa, AL Metro Area   1.284232
372                      Bowling Green, KY Metro Area   1.758294
373              Daphne-Fairhope-Foley, AL Metro Area   1.270715
374                            Decatur, AL Metro Area   1.487195
375                            Gadsden, AL Metro Area   1.427482
376                             Mobile, AL Metro Area   1.231694
377       Kingsport-Bristol-Bristol, TN-VA Metro Area   1.527562
378                        Rocky Mount, NC Metro Area   1.224621
379                           Columbus, IN Metro Area   1.485450
380                        Hot Springs, AR Metro Area   1.675003
381                            Jackson, TN Metro Area   1.364964
382            Kahului-Wailuku-Lahaina, HI Metro Area   1.081999
383                             Laredo, TX Metro Area   1.150240
384                          Wenatchee, WA Metro Area   1.603105
385                      Cumberland, MD-WV Metro Area   1.262593
386                         St. George, UT Metro Area   2.042018
387                      St. Joseph, MO-KS Metro Area   1.753483

[388 rows x 2 columns]

In [8]:
delta_pr_with_coords = pd.merge(delta_pr, coords, how='inner', left_on='metro', right_on='Location')[['metro', 'Delta PR', 'Coordinates']]
print(delta_pr_with_coords)

                                                metro   Delta PR  \
0                          Albuquerque, NM Metro Area   3.093486
1                              Abilene, TX Metro Area   1.652197
2        Allentown-Bethlehem-Easton, PA-NJ Metro Area  -7.559256
3                             Amarillo, TX Metro Area   1.664570
4                            Anchorage, AK Metro Area   1.743735
5        Atlanta-Sandy Springs-Roswell, GA Metro Area -40.986271
6                    Austin-Round Rock, TX Metro Area  -0.020466
7                          Bakersfield, CA Metro Area   2.857240
8            Baltimore-Columbia-Towson, MD Metro Area  -7.486664
9                          Baton Rouge, LA Metro Area   2.926351
10                Beaumont-Port Arthur, TX Metro Area   1.291637
11                   Birmingham-Hoover, AL Metro Area   1.415922
12                          Boise City, ID Metro Area   3.247536
13          Boston-Cambridge-Newton, MA-NH Metro Area -12.161240
14               Brownsville-Harlingen, TX Metro Area   1.296813
15   Buffalo-Cheektowaga-Niagara Falls, NY Metro Area  -2.070285
16         Charleston-North Charleston, SC Metro Area  -0.694684
17       Charlotte-Concord-Gastonia, NC-SC Metro Area  -3.475183
18                            Cheyenne, WY Metro Area   1.563109
19      Chicago-Naperville-Elgin, IL-IN-WI Metro Area   1.505390
20                    Cleveland-Elyria, OH Metro Area  -5.693065
21               College Station-Bryan, TX Metro Area   1.752852
22                    Colorado Springs, CO Metro Area   2.476246
23                            Columbia, SC Metro Area  -1.685526
24                      Corpus Christi, TX Metro Area   1.740630
25         Dallas-Fort Worth-Arlington, TX Metro Area  -0.866871
26                              Dayton, OH Metro Area   2.185612
27              Denver-Aurora-Lakewood, CO Metro Area   5.109336
28             Detroit-Warren-Dearborn, MI Metro Area   2.224126
29                             El Paso, TX Metro Area   1.354925
..                                                ...        ...
357                             Wausau, WI Metro Area   1.431120
358                             Bangor, ME Metro Area   1.339083
359                          El Centro, CA Metro Area   1.549665
360                         Greenville, NC Metro Area   1.493470
361                        Idaho Falls, ID Metro Area   1.758517
362                  Janesville-Beloit, WI Metro Area   1.699035
363                        Lewiston, ID-WA Metro Area   1.480400
364                               Rome, GA Metro Area   0.204241
365                       Battle Creek, MI Metro Area   1.899152
366                         Burlington, NC Metro Area   1.272199
367           Hickory-Lenoir-Morganton, NC Metro Area   0.710430
368                           Kankakee, IL Metro Area   0.906133
369                           Muskegon, MI Metro Area   1.729900
370                         Tuscaloosa, AL Metro Area   1.284232
371                      Bowling Green, KY Metro Area   1.758294
372              Daphne-Fairhope-Foley, AL Metro Area   1.270715
373                            Decatur, AL Metro Area   1.487195
374                            Gadsden, AL Metro Area   1.427482
375                             Mobile, AL Metro Area   1.231694
376       Kingsport-Bristol-Bristol, TN-VA Metro Area   1.527562
377                        Rocky Mount, NC Metro Area   1.224621
378                           Columbus, IN Metro Area   1.485450
379                        Hot Springs, AR Metro Area   1.675003
380                            Jackson, TN Metro Area   1.364964
381            Kahului-Wailuku-Lahaina, HI Metro Area   1.081999
382                             Laredo, TX Metro Area   1.150240
383                          Wenatchee, WA Metro Area   1.603105
384                      Cumberland, MD-WV Metro Area   1.262593
385                         St. George, UT Metro Area   2.042018
386                      St. Joseph, MO-KS Metro Area   1.753483

                        Coordinates
0           35.0841034,-106.6509851
1            32.4466741,-99.7333011
2            40.6022059,-75.4712794
3           35.2072185,-101.8338246
4           61.1758781,-149.1107333
5            33.7490987,-84.3901849
6            30.2711286,-97.7436995
7           35.3738712,-119.0194639
8             39.2908816,-76.610759
9              30.4459596,-91.18738
10           30.0860459,-94.1018461
11             33.570499,-86.765783
12    43.60081625,-116.242110153775
13           42.3602534,-71.0582912
14           25.9140256,-97.4890856
15           42.8867166,-78.8783922
16           32.7876012,-79.9402728
17           35.2270869,-80.8431268
18                41.1400,-104.8202
19           41.8755616,-87.6244212
20           41.5051613,-81.6934446
21           30.6253463,-96.3271538
22          38.8339578,-104.8253485
23           34.0007493,-81.0343313
24           27.8002542,-97.3955744
25           32.7762719,-96.7968559
26           39.7589478,-84.1916069
27          39.7348381,-104.9653271
28           42.3315509,-83.0466403
29           31.7600372,-106.487287
..                              ...
357          44.9596017,-89.6298239
358                44.8016,-68.7712
359               32.7920,-115.5631
360           35.612661,-77.3663538
361         43.4935245,-112.0400919
362          42.6829765,-89.0226793
363         46.4165506,-117.0176569
364           34.257038,-85.1646726
365          42.3192548,-85.1824269
366          36.0956918,-79.4377991
367          35.7333312,-81.3442915
368          41.1200325,-87.8611531
369          43.2341813,-86.2483921
370            33.490251,-86.859181
371          36.9903199,-86.4436018
372          30.6035255,-87.9036047
373            40.855019,-78.269096
374            33.565356,-86.783621
375            39.092585,-84.853229
376           36.550238,-82.5594293
377          35.9423833,-77.7956949
378            39.730727,-82.604837
379                34.5037,-93.0552
380          35.6144446,-88.8177418
381         20.8894101,-156.4727118
382          27.5199841,-99.4953764
383         47.4234599,-120.3103494
384          39.6528509,-78.7624714
385          37.104153,-113.5841313
386          39.7686055,-94.8466322

[387 rows x 3 columns]

In [9]:
pr_increased = delta_pr_with_coords[delta_pr_with_coords['Delta PR'] > 0]
pr_increased = pr_increased.sort_values(by='Delta PR', ascending=False).reset_index(drop=True)
print(pr_increased)
pr_increased.to_csv('../results/pr_increased_vals_coords.tsv', sep='\t', index=False)

                                                 metro  Delta PR  \
0       Portland-Vancouver-Hillsboro, OR-WA Metro Area  8.681262
1               Phoenix-Mesa-Scottsdale, AZ Metro Area  7.877945
2               Seattle-Tacoma-Bellevue, WA Metro Area  5.751308
3          Indianapolis-Carmel-Anderson, IN Metro Area  5.536568
4    Minneapolis-St. Paul-Bloomington, MN-WI Metro ...  5.467740
5                Denver-Aurora-Lakewood, CO Metro Area  5.109336
6    Sacramento--Roseville--Arden-Arcade, CA Metro ...  5.094183
7      Riverside-San Bernardino-Ontario, CA Metro Area  5.038305
8                        Kansas City, MO-KS Metro Area  5.005904
9        Los Angeles-Long Beach-Anaheim, CA Metro Area  3.926141
10               Spokane-Spokane Valley, WA Metro Area  3.765543
11       San Jose-Sunnyvale-Santa Clara, CA Metro Area  3.756221
12                                Salem, OR Metro Area  3.709127
13                               Fresno, CA Metro Area  3.692825
14                   San Diego-Carlsbad, CA Metro Area  3.635370
15        San Francisco-Oakland-Hayward, CA Metro Area  3.586472
16                       Salt Lake City, UT Metro Area  3.524349
17              Omaha-Council Bluffs, NE-IA Metro Area  3.463156
18         Las Vegas-Henderson-Paradise, NV Metro Area  3.430688
19           Des Moines-West Des Moines, IA Metro Area  3.388016
20                           Provo-Orem, UT Metro Area  3.363902
21                              Madison, WI Metro Area  3.363577
22                               Eugene, OR Metro Area  3.338304
23                           Boise City, ID Metro Area  3.247536
24                               Tucson, AZ Metro Area  3.234013
25                 Grand Rapids-Wyoming, MI Metro Area  3.107831
26                          Albuquerque, NM Metro Area  3.093486
27                          Baton Rouge, LA Metro Area  2.926351
28                        Stockton-Lodi, CA Metro Area  2.894391
29   Little Rock-North Little Rock-Conway, AR Metro...  2.892678
..                                                 ...       ...
278                      Chattanooga, TN-GA Metro Area  0.829892
279  Hilton Head Island-Bluffton-Beaufort, SC Metro...  0.825165
280                      Auburn-Opelika, AL Metro Area  0.818714
281                     Barnstable Town, MA Metro Area  0.802336
282                          Ocean City, NJ Metro Area  0.780012
283                          Binghamton, NY Metro Area  0.768385
284            Hickory-Lenoir-Morganton, NC Metro Area  0.710430
285                               Dover, DE Metro Area  0.686600
286                              Dalton, GA Metro Area  0.657239
287                  Bloomsburg-Berwick, PA Metro Area  0.655757
288                       Winston-Salem, NC Metro Area  0.645662
289                    East Stroudsburg, PA Metro Area  0.616661
290                          Utica-Rome, NY Metro Area  0.614025
291                         Springfield, IL Metro Area  0.571502
292                  Parkersburg-Vienna, WV Metro Area  0.519359
293                        Salisbury, MD-DE Metro Area  0.506689
294                            Kingston, NY Metro Area  0.461621
295                                Erie, PA Metro Area  0.353769
296                         Punta Gorda, FL Metro Area  0.351862
297                           Asheville, NC Metro Area  0.276792
298                       State College, PA Metro Area  0.273942
299             Chambersburg-Waynesboro, PA Metro Area  0.231619
300                                Rome, GA Metro Area  0.204241
301                Sebastian-Vero Beach, FL Metro Area  0.201076
302                   Homosassa Springs, FL Metro Area  0.198956
303                             Raleigh, NC Metro Area  0.174197
304                          Montgomery, AL Metro Area  0.142163
305          Gulfport-Biloxi-Pascagoula, MS Metro Area  0.069202
306  Crestview-Fort Walton Beach-Destin, FL Metro Area  0.066744
307       Naples-Immokalee-Marco Island, FL Metro Area  0.050803

                        Coordinates
0           45.5202471,-122.6741949
1           33.4485866,-112.0773456
2           47.6038321,-122.3300624
3            39.7683331,-86.1583502
4            44.9772995,-93.2654692
5           39.7348381,-104.9653271
6           38.5815719,-121.4943996
7                33.9806, -117.3755
8             39.100105,-94.5781416
9           34.0536909,-118.2427666
10          47.6579425,-117.4212265
11          37.3361905,-121.8905833
12           44.9391565,-123.033121
13     36.7295295,-119.708861260756
14          32.7174209,-117.1627714
15                37.7749,-122.4194
16          40.7670126,-111.8904308
17           41.2587317,-95.9378732
18           36.1662859,-115.149225
19           41.5910641,-93.6037149
20          40.2338438,-111.6585337
21            43.074761,-89.3837613
22          44.0505054,-123.0950506
23    43.60081625,-116.242110153775
24          32.2218917,-110.9262353
25            42.9142413,-85.533004
26          35.0841034,-106.6509851
27             30.4459596,-91.18738
28               38.1341, -121.2722
29           34.7464809,-92.2895948
..                              ...
278          35.0456297,-85.3096801
279          32.1618488,-80.7512616
280          41.4767352,-81.1443658
281            41.278228,-73.600649
282          39.2776156,-74.5746001
283            42.096968,-75.914341
284          35.7333312,-81.3442915
285           39.158168,-75.5243682
286                34.7698,-84.9702
287           41.0041213,-76.453816
288                36.0999,-80.2442
289          40.9995386,-75.1812913
290          43.1009031,-75.2326641
291          39.7990175,-89.6439575
292          39.2699565,-81.5506916
293          38.3662114,-75.6008881
294          41.9287812,-74.0023702
295          42.1294712,-80.0852695
296          26.9297836,-82.0453664
297          35.6009498,-82.5540161
298          40.7944504,-77.8616386
299          39.9405903,-77.6598624
300           34.257038,-85.1646726
301           27.816415,-80.4706078
302          28.8035939,-82.5759329
303          35.7803977,-78.6390989
304             40.85239,-78.266098
305          30.3674198,-89.0928155
306          30.7621326,-86.5705084
307          26.1421976,-81.7942944

[308 rows x 3 columns]

In [10]:
pr_decreased = delta_pr_with_coords[delta_pr_with_coords['Delta PR'] < 0]
pr_decreased['Delta PR'] = pr_decreased['Delta PR'].abs()
pr_decreased = pr_decreased.sort_values(by='Delta PR', ascending=False).reset_index(drop=True)
print(pr_decreased)
pr_decreased.to_csv('../results/pr_decreased_vals_coords.tsv', sep='\t', index=False)

                                                metro   Delta PR  \
0             San Juan-Carolina-Caguas, PR Metro Area  64.338113
1            Orlando-Kissimmee-Sanford, FL Metro Area  57.686299
2        Atlanta-Sandy Springs-Roswell, GA Metro Area  40.986271
3    New York-Newark-Jersey City, NY-NJ-PA Metro Area  39.622640
4   Miami-Fort Lauderdale-West Palm Beach, FL Metr...  27.752894
5                             Mayagüez, PR Metro Area  27.130691
6                        Warner Robins, GA Metro Area  22.750661
7   Philadelphia-Camden-Wilmington, PA-NJ-DE-MD Me...  22.339719
8                                Ponce, PR Metro Area  20.879147
9      Tampa-St. Petersburg-Clearwater, FL Metro Area  20.517524
10                   Aguadilla-Isabela, PR Metro Area  16.582345
11          Boston-Cambridge-Newton, MA-NH Metro Area  12.161240
12                             Arecibo, PR Metro Area  11.078112
13                        Jacksonville, FL Metro Area   8.541907
14  Hartford-West Hartford-East Hartford, CT Metro...   8.137394
15  Deltona-Daytona Beach-Ormond Beach, FL Metro Area   7.635198
16       Allentown-Bethlehem-Easton, PA-NJ Metro Area   7.559256
17           Baltimore-Columbia-Towson, MD Metro Area   7.486664
18  Washington-Arlington-Alexandria, DC-VA-MD-WV M...   5.931603
19               Providence-Warwick, RI-MA Metro Area   5.891234
20                    Cleveland-Elyria, OH Metro Area   5.693065
21               Lakeland-Winter Haven, FL Metro Area   5.637767
22                      Killeen-Temple, TX Metro Area   5.348376
23                          San Germán, PR Metro Area   5.200571
24                           Rochester, NY Metro Area   4.471722
25                        Worcester, MA-CT Metro Area   4.459199
26                   New Haven-Milford, CT Metro Area   4.455706
27                         Tallahassee, FL Metro Area   4.413550
28                         Springfield, MA Metro Area   4.381921
29                              Albany, GA Metro Area   4.152863
..                                                ...        ...
49                            Valdosta, GA Metro Area   1.859138
50                               Ocala, FL Metro Area   1.778176
51                            Columbia, SC Metro Area   1.685526
52             Atlantic City-Hammonton, NJ Metro Area   1.564349
53  Virginia Beach-Norfolk-Newport News, VA-NC Met...   1.464255
54           San Antonio-New Braunfels, TX Metro Area   1.294575
55                             Trenton, NJ Metro Area   1.017998
56                           Brunswick, GA Metro Area   0.972794
57                 Harrisburg-Carlisle, PA Metro Area   0.957175
58                        Jacksonville, NC Metro Area   0.949315
59                          Hinesville, GA Metro Area   0.935219
60                        Fayetteville, NC Metro Area   0.883299
61         Dallas-Fort Worth-Arlington, TX Metro Area   0.866871
62         Charleston-North Charleston, SC Metro Area   0.694684
63                         Gainesville, GA Metro Area   0.693181
64                            Syracuse, NY Metro Area   0.423392
65                            Richmond, VA Metro Area   0.402537
66                   Manchester-Nashua, NH Metro Area   0.358097
67                          Pittsburgh, PA Metro Area   0.307231
68                         Panama City, FL Metro Area   0.249036
69    Houston-The Woodlands-Sugar Land, TX Metro Area   0.246298
70         Greenville-Anderson-Mauldin, SC Metro Area   0.218188
71             Albany-Schenectady-Troy, NY Metro Area   0.199015
72    Scranton--Wilkes-Barre--Hazleton, PA Metro Area   0.176177
73                  Vineland-Bridgeton, NJ Metro Area   0.135431
74                         Spartanburg, SC Metro Area   0.131771
75                             Sebring, FL Metro Area   0.028139
76                        The Villages, FL Metro Area   0.024831
77                  Norwich-New London, CT Metro Area   0.023685
78                   Austin-Round Rock, TX Metro Area   0.020466

                       Coordinates
0                 18.4655,-66.1057
1     28.5479786,-81.4127841856302
2           33.7490987,-84.3901849
3           40.7127281,-74.0060152
4           25.7742658,-80.1936589
5           17.9390029,-66.9539751
6           32.6209775,-83.5999048
7           39.9527237,-75.1635262
8     17.9935058,-66.6071120305113
9           27.9518491,-82.4563972
10   18.44215415,-67.1473105463995
11          42.3602534,-71.0582912
12    18.3442249,-66.7526951911433
13           30.3321838,-81.655651
14            33.4700252,-84.63344
15          28.9005446,-81.2636738
16          40.6022059,-75.4712794
17           39.2908816,-76.610759
18          38.8950092,-77.0365625
19                41.8240,-71.4128
20          41.5051613,-81.6934446
21          28.0470734,-81.9539892
22           31.1171441,-97.727796
23           18.0887911,-67.007989
24    43.1854754,-77.6106861508176
25          42.2625932,-71.8022934
26                41.3083,-72.9279
27          30.4380832,-84.2809332
28           42.1014831,-72.589811
29                31.5785,-84.1557
..                             ...
49          30.8327022,-83.2784851
50          29.1924213,-82.1352047
51          34.0007493,-81.0343313
52          39.3642852,-74.4229351
53          36.8529841,-75.9774183
54          29.4246002,-98.4951405
55          40.2170575,-74.7429463
56                31.1500,-81.4915
57          40.2663107,-76.8861122
58          34.7494749,-77.4208221
59          31.8477298,-81.5960354
60           35.0525759,-78.878292
61          32.7762719,-96.7968559
62          32.7876012,-79.9402728
63          34.2978794,-83.8240663
64          43.0481221,-76.1474244
65                37.5407,-77.4360
66          42.9956397,-71.4547891
67          40.4416941,-79.9900861
68           30.165156,-85.6605595
69          29.7589382,-95.3676974
70           34.851354,-82.3984882
71           42.6511674,-73.754968
72          41.4086874,-75.6621294
73     39.473152,-75.0020265495217
74          34.9498007,-81.9320157
75          27.4957453,-81.4410425
76          28.9468504,-81.9533443
77                41.3557,-72.0995
78          30.2711286,-97.7436995

[79 rows x 3 columns]

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy