In [1]:
# The codes for sex are:
# 01 = Male,
# 02 = Female.

In [2]:
import networkx as nx
import pandas as pd
from functools import reduce

In [3]:
def load_data():
    non_cities = ['Outside Metro Area within U.S. or Puerto Rico', 'Africa', 'Asia', 'Central America', 'Caribbean', 'Europe', 'U.S. Island Areas', 'Northern America', 'Oceania and At Sea', 'South America']
    
    G_01 = nx.DiGraph()
    G_02 = nx.DiGraph()

    x = pd.ExcelFile('../data/metro-to-metro-by-sex-2011-2015.xlsx')
    print(x.sheet_names)

    gender = 'Unnamed: 2'
    previous = 'Unnamed: 16'
    current = 'Unnamed: 3'
    count = 'Unnamed: 27'

    thresh = 0

    for state in x.sheet_names:
        df = x.parse(state)

        for index, row in df.iterrows():

            # skip first three rows: header rows
            if index < 3:
                continue
            # skip the last rows: footer rows
            if index >= 47521:
                break

            if int(row[count]) < thresh:
                continue

            # exclude non-cities
            if row[previous] in non_cities or row[current] in non_cities:
                continue
                
            # get gender code
            if row[gender] == '01':
                G_01.add_edge(row[previous], row[current], weight=int(row[count]))
            elif row[gender] == '02':
                G_02.add_edge(row[previous], row[current], weight=int(row[count]))
                
    return [G_01, G_02]

In [4]:
gender_graphs = load_data()
for g in gender_graphs:
    print(str(len(g.nodes())) + " , " + str(len(g.edges())))

['Metro-to-Metro by Sex 2011-2015']
388 , 21365
388 , 20764

In [5]:
def pagerank(filename, graph):
    val_name = filename + '_value'
    rank_name = filename + '_rank'
    
    pr = nx.pagerank(graph, max_iter=1000)
    pr_df = pd.DataFrame.from_dict(pr, orient='index', columns=[val_name]).reset_index().rename(columns={'index':'metro'})
    pr_df = pr_df.sort_values(by=val_name, ascending=False).reset_index(drop=True)
    pr_df[rank_name] = pr_df.index + 1
    
    return pr_df

In [6]:
filenames = ['male', 'female']

pr_dfs = []
for f,g in zip(filenames, gender_graphs):
    pr_dfs.append(pagerank(f,g))

pr_merged = reduce(lambda  left,right: pd.merge(left,right,on=['metro'], how='outer'), pr_dfs)
print(pr_merged)

                                                 metro  male_value  male_rank  \
0     New York-Newark-Jersey City, NY-NJ-PA Metro Area    0.024483          1
1           Dallas-Fort Worth-Arlington, TX Metro Area    0.023305          2
2    Washington-Arlington-Alexandria, DC-VA-MD-WV M...    0.022496          3
3        Los Angeles-Long Beach-Anaheim, CA Metro Area    0.022256          4
4         Atlanta-Sandy Springs-Roswell, GA Metro Area    0.020356          5
5      Houston-The Woodlands-Sugar Land, TX Metro Area    0.019893          6
6        Chicago-Naperville-Elgin, IL-IN-WI Metro Area    0.019321          7
7               Phoenix-Mesa-Scottsdale, AZ Metro Area    0.016748          8
8      Riverside-San Bernardino-Ontario, CA Metro Area    0.015484          9
9               Seattle-Tacoma-Bellevue, WA Metro Area    0.013688         10
10   Miami-Fort Lauderdale-West Palm Beach, FL Metr...    0.013667         11
11   Philadelphia-Camden-Wilmington, PA-NJ-DE-MD Me...    0.013480         12
12               Denver-Aurora-Lakewood, CO Metro Area    0.012861         13
13                    Austin-Round Rock, TX Metro Area    0.011463         14
14        San Francisco-Oakland-Hayward, CA Metro Area    0.011063         15
15            Orlando-Kissimmee-Sanford, FL Metro Area    0.010886         16
16   Minneapolis-St. Paul-Bloomington, MN-WI Metro ...    0.010630         17
17           Boston-Cambridge-Newton, MA-NH Metro Area    0.010596         18
18                   San Diego-Carlsbad, CA Metro Area    0.010561         19
19            San Antonio-New Braunfels, TX Metro Area    0.010421         20
20      Tampa-St. Petersburg-Clearwater, FL Metro Area    0.010346         21
21        Charlotte-Concord-Gastonia, NC-SC Metro Area    0.010007         22
22   Virginia Beach-Norfolk-Newport News, VA-NC Met...    0.009732         23
23            Baltimore-Columbia-Towson, MD Metro Area    0.008578         24
24         Las Vegas-Henderson-Paradise, NV Metro Area    0.007908         25
25      Portland-Vancouver-Hillsboro, OR-WA Metro Area    0.007872         26
26   Nashville-Davidson--Murfreesboro--Franklin, TN...    0.007423         27
27                       Kansas City, MO-KS Metro Area    0.007381         28
28              Detroit-Warren-Dearborn, MI Metro Area    0.007166         29
29                             Columbus, OH Metro Area    0.006836         30
..                                                 ...         ...        ...
358                              Dothan, AL Metro Area    0.000663        359
359                          Pittsfield, MA Metro Area    0.000662        360
360                         Fond du Lac, WI Metro Area    0.000660        361
361                              Joplin, MO Metro Area    0.000654        362
362                              Wausau, WI Metro Area    0.000653        363
363                     Barnstable Town, MA Metro Area    0.000652        364
364                           Wenatchee, WA Metro Area    0.000648        365
365             Weirton-Steubenville, WV-OH Metro Area    0.000641        366
366                              Elmira, NY Metro Area    0.000641        367
367                            Victoria, TX Metro Area    0.000638        368
368                         Great Falls, MT Metro Area    0.000621        369
369                             Altoona, PA Metro Area    0.000619        370
370                         Carson City, NV Metro Area    0.000618        371
371                           Jonesboro, AR Metro Area    0.000616        372
372                   Janesville-Beloit, WI Metro Area    0.000592        373
373                              Casper, WY Metro Area    0.000585        374
374                           Owensboro, KY Metro Area    0.000577        375
375                             Decatur, IL Metro Area    0.000574        376
376                           Pocatello, ID Metro Area    0.000568        377
377                            Columbus, IN Metro Area    0.000566        378
378                        Grand Island, NE Metro Area    0.000553        379
379                             Arecibo, PR Metro Area    0.000547        380
380                  Parkersburg-Vienna, WV Metro Area    0.000543        381
381                         Lewiston, ID-WA Metro Area    0.000509        382
382                          San GermÃ¡n, PR Metro Area    0.000509        383
383                              Kokomo, IN Metro Area    0.000509        384
384                          Farmington, NM Metro Area    0.000507        385
385                            Danville, IL Metro Area    0.000506        386
386                             Guayama, PR Metro Area    0.000493        387
387                            Longview, WA Metro Area    0.000464        388

     female_value  female_rank
0        0.025889            1
1        0.025112            2
2        0.023730            3
3        0.022835            4
4        0.022629            5
5        0.020820            6
6        0.019039            7
7        0.016505            8
8        0.013933           10
9        0.014094            9
10       0.013755           11
11       0.013737           12
12       0.012578           13
13       0.011527           17
14       0.011604           14
15       0.011575           15
16       0.011342           18
17       0.011564           16
18       0.009786           22
19       0.010113           21
20       0.010964           19
21       0.010631           20
22       0.008890           23
23       0.008743           24
24       0.008120           26
25       0.008335           25
26       0.008014           27
27       0.006704           32
28       0.007764           28
29       0.006845           31
..            ...          ...
358      0.000713          336
359      0.000589          368
360      0.000755          324
361      0.000642          354
362      0.000665          346
363      0.000610          361
364      0.000731          331
365      0.000681          340
366      0.000532          377
367      0.000599          365
368      0.000614          360
369      0.000673          343
370      0.000544          374
371      0.000598          366
372      0.000601          364
373      0.000646          352
374      0.000518          380
375      0.000628          358
376      0.000515          382
377      0.000554          373
378      0.000490          383
379      0.000521          379
380      0.000583          370
381      0.000517          381
382      0.000471          385
383      0.000483          384
384      0.000538          375
385      0.000459          386
386      0.000431          388
387      0.000440          387

[388 rows x 5 columns]

In [7]:
pr_merged.to_csv('../results/gender_pagerank.csv', index=False)