In [1]:
# The codes for race are:
# 01 = White alone,
# 02 = Black or African American alone,
# 03 = Asian alone,
# 04 = Some other race alone or Two or more races.

In [2]:
import networkx as nx
import pandas as pd
from functools import reduce

In [3]:
def load_data():
    non_cities = ['Outside Metro Area within U.S. or Puerto Rico', 'Africa', 'Asia', 'Central America', 'Caribbean', 'Europe', 'U.S. Island Areas', 'Northern America', 'Oceania and At Sea', 'South America']
    
    G_01 = nx.DiGraph()
    G_02 = nx.DiGraph()
    G_03 = nx.DiGraph()
    G_04 = nx.DiGraph()

    x = pd.ExcelFile('../data/metro-to-metro-by-race-2011-2015.xlsx')
    print(x.sheet_names)

    race = 'Unnamed: 2'
    previous = 'Unnamed: 16'
    current = 'Unnamed: 3'
    count = 'Unnamed: 27'

    thresh = 0

    for state in x.sheet_names:
        df = x.parse(state)

        for index, row in df.iterrows():

            # skip first three rows: header rows
            if index < 3:
                continue
            # skip the last rows: footer rows
            if index >= 54971:
                break

            if int(row[count]) < thresh:
                continue

            # exclude non-cities
            if row[previous] in non_cities or row[current] in non_cities:
                continue
                
            # get race code
            if row[race] == '01':
                G_01.add_edge(row[previous], row[current], weight=int(row[count]))
            elif row[race] == '02':
                G_02.add_edge(row[previous], row[current], weight=int(row[count]))
            elif row[race] == '03':
                G_03.add_edge(row[previous], row[current], weight=int(row[count]))
            elif row[race] == '04':    
                G_04.add_edge(row[previous], row[current], weight=int(row[count]))
                
    return [G_01, G_02, G_03, G_04]

In [4]:
race_graphs = load_data()
for g in race_graphs:
    print(str(len(g.nodes())) + " , " + str(len(g.edges())))

['Metro-to-Metro by Race 2011-15']
388 , 21827
387 , 10129
385 , 6284
388 , 8887

In [5]:
def pagerank(filename, graph):
    val_name = filename + '_value'
    rank_name = filename + '_rank'
    
    pr = nx.pagerank(graph, max_iter=1000)
    pr_df = pd.DataFrame.from_dict(pr, orient='index', columns=[val_name]).reset_index().rename(columns={'index':'metro'})
    pr_df = pr_df.sort_values(by=val_name, ascending=False).reset_index(drop=True)
    pr_df[rank_name] = pr_df.index + 1
    
    return pr_df

In [6]:
filenames = ['white', 'black', 'asian', 'other']

pr_dfs = []
for f,g in zip(filenames, race_graphs):
    pr_dfs.append(pagerank(f,g))

pr_merged = reduce(lambda  left,right: pd.merge(left,right,on=['metro'], how='outer'), pr_dfs)
print(pr_merged)

                                                 metro  white_value  \
0           Dallas-Fort Worth-Arlington, TX Metro Area     0.022978
1     New York-Newark-Jersey City, NY-NJ-PA Metro Area     0.021955
2    Washington-Arlington-Alexandria, DC-VA-MD-WV M...     0.021485
3        Los Angeles-Long Beach-Anaheim, CA Metro Area     0.019803
4      Houston-The Woodlands-Sugar Land, TX Metro Area     0.018904
5        Chicago-Naperville-Elgin, IL-IN-WI Metro Area     0.018348
6               Phoenix-Mesa-Scottsdale, AZ Metro Area     0.017531
7         Atlanta-Sandy Springs-Roswell, GA Metro Area     0.016062
8                Denver-Aurora-Lakewood, CO Metro Area     0.014545
9    Miami-Fort Lauderdale-West Palm Beach, FL Metr...     0.014074
10              Seattle-Tacoma-Bellevue, WA Metro Area     0.013586
11   Philadelphia-Camden-Wilmington, PA-NJ-DE-MD Me...     0.013121
12     Riverside-San Bernardino-Ontario, CA Metro Area     0.012585
13                    Austin-Round Rock, TX Metro Area     0.012173
14      Tampa-St. Petersburg-Clearwater, FL Metro Area     0.011819
15           Boston-Cambridge-Newton, MA-NH Metro Area     0.011620
16            Orlando-Kissimmee-Sanford, FL Metro Area     0.011488
17   Minneapolis-St. Paul-Bloomington, MN-WI Metro ...     0.011034
18            San Antonio-New Braunfels, TX Metro Area     0.010775
19                   San Diego-Carlsbad, CA Metro Area     0.010284
20        San Francisco-Oakland-Hayward, CA Metro Area     0.009932
21        Charlotte-Concord-Gastonia, NC-SC Metro Area     0.009412
22   Virginia Beach-Norfolk-Newport News, VA-NC Met...     0.008921
23   Nashville-Davidson--Murfreesboro--Franklin, TN...     0.008769
24      Portland-Vancouver-Hillsboro, OR-WA Metro Area     0.008602
25            Baltimore-Columbia-Towson, MD Metro Area     0.007778
26              Detroit-Warren-Dearborn, MI Metro Area     0.007330
27                       Kansas City, MO-KS Metro Area     0.007304
28                         Jacksonville, FL Metro Area     0.007119
29                         St. Louis, MO-IL Metro Area     0.007000
..                                                 ...          ...
358                              Casper, WY Metro Area     0.000667
359                 Staunton-Waynesboro, VA Metro Area     0.000656
360                         Walla Walla, WA Metro Area     0.000654
361                           Jonesboro, AR Metro Area     0.000653
362                             Beckley, WV Metro Area     0.000643
363                   Janesville-Beloit, WI Metro Area     0.000637
364                             Decatur, IL Metro Area     0.000637
365                                Lima, OH Metro Area     0.000636
366                         Great Falls, MT Metro Area     0.000629
367                         Rocky Mount, NC Metro Area     0.000625
368                              Sumter, SC Metro Area     0.000620
369                            Mayagüez, PR Metro Area     0.000615
370                       Cumberland, MD-WV Metro Area     0.000612
371                  Parkersburg-Vienna, WV Metro Area     0.000612
372                        Texarkana, TX-AR Metro Area     0.000605
373                         Carson City, NV Metro Area     0.000601
374                              Elmira, NY Metro Area     0.000578
375                            Columbus, IN Metro Area     0.000572
376                           Pocatello, ID Metro Area     0.000565
377                             Arecibo, PR Metro Area     0.000555
378                        Grand Island, NE Metro Area     0.000544
379                         Lewiston, ID-WA Metro Area     0.000537
380                          Pine Bluff, AR Metro Area     0.000531
381                           Owensboro, KY Metro Area     0.000527
382                          Farmington, NM Metro Area     0.000524
383                          San Germán, PR Metro Area     0.000511
384                              Kokomo, IN Metro Area     0.000494
385                             Guayama, PR Metro Area     0.000470
386                            Longview, WA Metro Area     0.000459
387                            Danville, IL Metro Area     0.000457

     white_rank  black_value  black_rank  asian_value  asian_rank  \
0             1     0.029231         2.0     0.030068         5.0
1             2     0.025670         5.0     0.056061         1.0
2             3     0.028738         3.0     0.035768         3.0
3             4     0.016300         8.0     0.052184         2.0
4             5     0.028536         4.0     0.026019         7.0
5             6     0.023770         6.0     0.026278         6.0
6             7     0.011131        15.0     0.011738        19.0
7             8     0.048270         1.0     0.022593        10.0
8             9     0.005745        36.0     0.007691        25.0
9            10     0.016007         9.0     0.007213        26.0
10           11     0.008666        23.0     0.023092         9.0
11           12     0.015325        10.0     0.019222        11.0
12           13     0.013678        12.0     0.018225        13.0
13           14     0.008786        22.0     0.013801        17.0
14           15     0.007593        27.0     0.005413        33.0
15           16     0.006097        34.0     0.018953        12.0
16           17     0.012157        14.0     0.005228        36.0
17           18     0.009969        16.0     0.013931        16.0
18           19     0.008522        24.0     0.007879        24.0
19           20     0.005309        43.0     0.015922        14.0
20           21     0.007602        26.0     0.033018         4.0
21           22     0.017000         7.0     0.008347        23.0
22           23     0.014264        11.0     0.005685        32.0
23           24     0.005347        42.0     0.005107        39.0
24           25     0.003155        68.0     0.008781        22.0
25           26     0.013212        13.0     0.012888        18.0
26           27     0.009724        18.0     0.009367        21.0
27           28     0.007328        31.0     0.004437        45.0
28           29     0.007508        29.0     0.003378        55.0
29           30     0.009319        21.0     0.005161        37.0
..          ...          ...         ...          ...         ...
358         359     0.000444       371.0          NaN         NaN
359         360     0.000968       235.0     0.000533       292.0
360         361     0.000665       301.0     0.000545       286.0
361         362     0.000500       355.0     0.000422       359.0
362         363     0.000738       290.0     0.000408       368.0
363         364     0.000501       354.0     0.000529       295.0
364         365     0.000552       334.0     0.000472       322.0
365         366     0.000602       318.0     0.000400       376.0
366         367     0.000409       383.0     0.000412       364.0
367         368     0.001614       146.0     0.000470       324.0
368         369     0.001185       192.0     0.000488       313.0
369         370     0.000520       343.0     0.000410       365.0
370         371     0.000765       283.0     0.000498       307.0
371         372     0.000415       379.0          NaN         NaN
372         373     0.001080       212.0     0.000451       336.0
373         374     0.000514       345.0     0.000465       328.0
374         375     0.000884       253.0     0.000442       344.0
375         376     0.000412       381.0     0.000694       240.0
376         377     0.000421       376.0     0.000419       363.0
377         378     0.000465       365.0     0.000467       325.0
378         379     0.000505       351.0     0.000438       347.0
379         380     0.000415       378.0     0.000400       373.0
380         381     0.001224       182.0     0.000409       367.0
381         382     0.000625       311.0     0.000591       266.0
382         383     0.000408       384.0     0.000425       355.0
383         384     0.000425       374.0     0.000400       374.0
384         385     0.000461       366.0     0.000400       383.0
385         386     0.000480       361.0          NaN         NaN
386         387     0.000412       380.0     0.000400       379.0
387         388     0.000683       298.0     0.000400       381.0

     other_value  other_rank
0       0.022580           4
1       0.031749           2
2       0.020210           6
3       0.033328           1
4       0.017175           9
5       0.017373           8
6       0.020481           5
7       0.015970          10
8       0.011294          15
9       0.010635          18
10      0.018728           7
11      0.012837          13
12      0.029505           3
13      0.008702          23
14      0.009291          21
15      0.008809          22
16      0.011227          17
17      0.009706          20
18      0.011259          16
19      0.012474          14
20      0.014196          11
21      0.008072          26
22      0.007752          27
23      0.004097          49
24      0.009755          19
25      0.006077          34
26      0.004424          45
27      0.006964          32
28      0.004681          42
29      0.004723          41
..           ...         ...
358     0.000492         378
359     0.000625         336
360     0.001221         205
361     0.000579         352
362     0.000442         386
363     0.000501         374
364     0.000566         353
365     0.000587         346
366     0.001156         218
367     0.001173         216
368     0.000493         377
369     0.001599         158
370     0.000551         356
371     0.000540         359
372     0.000656         331
373     0.000597         344
374     0.000434         387
375     0.000659         329
376     0.000602         342
377     0.000584         347
378     0.000453         384
379     0.000530         361
380     0.000616         339
381     0.000657         330
382     0.000696         322
383     0.000459         383
384     0.000624         337
385     0.000501         375
386     0.000504         372
387     0.000473         382

[388 rows x 9 columns]

In [7]:
pr_merged.to_csv('../results/race_pagerank.csv', index=False)